<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Hybridize">
	<locations>
		<!-- The ordering of the locations seems to matter. Most likely, the problem has to do with the WALA dependencies that include JARs. -->
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/eclipse/updates/4.25"/>
			<unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="1.2.1100.v20220210-1157"/>
			<unit id="org.eclipse.pde.feature.group" version="3.14.1300.v20220831-1800"/>
			<unit id="org.eclipse.pde.source.feature.group" version="3.14.1300.v20220831-1800"/>
			<unit id="org.eclipse.rcp.feature.group" version="4.25.0.v20220831-1800"/>
			<unit id="org.eclipse.rcp.source.feature.group" version="4.25.0.v20220831-1800"/>
			<unit id="org.eclipse.test.feature.group" version="3.8.200.v20220824-0342"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://raw.githubusercontent.com/ponder-lab/Pydev/pydev_9_3/org.python.pydev.updatesite"/>
			<unit id="org.python.pydev.feature.feature.group" version="9.3.3.202403291807"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://raw.githubusercontent.com/ponder-lab/Common-Eclipse-Refactoring-Framework/master/edu.cuny.citytech.refactoring.common.updatesite"/>
			<unit id="edu.cuny.citytech.refactoring.common.feature.feature.group" version="3.6.0.202402261202"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://raw.githubusercontent.com/ponder-lab/WALA/v1.6/com.ibm.wala-repository"/>
			<unit id="com.ibm.wala.ide_feature.feature.group" version="1.6.2.202310101608"/>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>com.ibm.wala</groupId>
					<artifactId>com.ibm.wala.cast.python.ml</artifactId>
					<version>0.37.0-SNAPSHOT</version>
					<type>jar</type>
				</dependency>
			</dependencies>
			<repositories>
				<repository>
					<id>github</id>
					<url>https://maven.pkg.github.com/ponder-lab/ML</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
		</location>
	</locations>
	<environment>
		<arch>x86_64</arch>
		<os>linux</os>
		<ws>gtk</ws>
		<nl>en_US</nl>
	</environment>
	<launcherArgs>
		<vmArgs>-Declipse.p2.max.threads=10 -Doomph.update.url=https://download.eclipse.org/oomph/updates/milestone/latest -Doomph.redirection.index.redirection=index:/-&gt;http://git.eclipse.org/c/oomph/org.eclipse.oomph.git/plain/setups/ -Dosgi.requiredJavaVersion=17 -Dosgi.instance.area.default=@user.home/eclipse-workspace -Dosgi.dataAreaRequiresExplicitInit=true -Dorg.eclipse.swt.graphics.Resource.reportNonDisposed=true -Dsun.java.command=Eclipse -XX:+UseG1GC -XX:+UseStringDeduplication --add-modules=ALL-SYSTEM -Dosgi.requiredJavaVersion=17 -Dosgi.dataAreaRequiresExplicitInit=true -Dorg.eclipse.swt.graphics.Resource.reportNonDisposed=true -Xms256m -Xmx2048m --add-modules=ALL-SYSTEM</vmArgs>
	</launcherArgs>
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
</target>
